In [ ]:
1.Create a variable name and store your name. Print:"Hello, <your name>!"

In [3]:
name = "Minna Joby"
print(f'Hello, {name}')

Hello, Minna Joby

In [ ]:
2. Create two variables: age = 21, height = 165.4.
Print their types using type().

In [6]:
age = 21
height = 165.4
print(type(age))
print(type(height))

<class 'int'>
<class 'float'>

In [ ]:
3. Convert height to an integer.

In [7]:
int(height)

165

In [ ]:
4. Write Python code to calculate the area of a triangle with base 10 and height 5.

In [8]:
base = 10
height = 5
area_of_triangle = (1/2)*base*height
print(area_of_triangle)

25.0

In [ ]:
5. If a laptop costs ₹50,000 and you get a discount of 18%, calculate the final price.

In [10]:
price = 50000
discount = 18/100
final_price = price*discount
print(final_price)

9000.0

In [ ]:
6. Replace “bad” with “good” in "Python is bad"

In [13]:
"Python is bad".replace('bad','good')

'Python is good'

In [ ]:
7. Ask user for age and print it as integer.

In [14]:
ages = int(input("Enter age:"))
print(ages)

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'